<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RecipesDB" connectionString="Data Source=(localdb)\MSSQLLocalDB; Integrated Security=True; AttachDbFilename=|DataDirectory|\RecipesDB.mdf; Timeout=600;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>